{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/footer.css') }}">
{% endblock %}

<div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <img  class="img-fluid" width="60" src="{{ asset('images/logo_pokeball/logo_pokeball1.png') }}"
        <link rel="icon" href="{{ asset('images/logo_pokeball/logo_pokeball1.png') }}">
      </a>
      <p class="text-muted">&copy; 2022</p>
    </div>



    <div class="col mb-3">
      <h5>Créateurs</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">DRAIN Nicolas</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">HADJ AHMED Ishac</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">MONTEIL Adrien</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Bienvenue sur notre site : Pokémon x Hunter !</h5>
        <img class="img-fluid" style="max-width: 100%" src="{{ asset('images/footer/pokemon_x_hunter.png') }}">
    </div>

  </footer>
</div>