{% extends 'base.html.twig' %}

{% block title %}Hello MarketController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for vente in list_vente %}
                <div class="col">
                    <a href="{{ path('app_market_detail', {id:vente.id}) }}">
                        {{ vente.id }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
