{% extends 'base.html.twig' %}

{% block title %}Hello VenteController!{% endblock %}

{% block body %}
Voici la liste de vos pokemons en vente
<div class="container">
{% for venteEnCours in ventesEnCours %}
        <div class="col">
            Vente en cours :
            {{ venteEnCours.id }}
        </div>
        {% endfor %}
{% for venteTerminee in ventesTerminee %}
        <div class="col">
            Vente terminée :
            {{ venteTerminee.id }}
        </div>
        {% endfor %}
</div>
{% endblock %}
