{% extends 'base.html.twig' %}

{% block title %}Hello EntrainementController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                Votre pokémon est trop fatigué pour s'entrainer maintenant veuillez revenir un peu plus tard.

            </div>
        </div>
    </div>
{% endblock %}
